footer{ background-color: #6D91DC;;
        height: 88px;
        width: 100%;
        display: flex;
        padding: 0 52px;
        align-items: center;
        color: #F8FDFE;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        justify-content: space-between;
        margin-top: 121px;
}