header{box-sizing: border-box;
    width: 100%;
    position: fixed;
    margin: 0;
    z-index: 10;
    
}
.menu-1{
    display: flex;
    height: 72px;
    padding: 16px 52px;
flex-direction: row;
justify-content: space-between;
align-items: center;
gap: 10px;

background: #6D91DC;;
}

.logo{
    display: flex;
    gap: 8px;
}
.cart{
    display: flex;
justify-content: flex-end;
align-items: center;
gap: 24px;
color: #FFF;
}

 .cart button{position: relative;}


.cart-quantity{position: absolute;
            top: 12px;
            left: 17px;
            color: #FFF;}
.menu-2 {
    display: flex;
    padding: 4px 52px;
justify-content: space-between;
align-items: center;
gap: 10px;
background: #FFF;
color: black;
font-family: Cabin;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

ul{
    display: flex;
    gap: 40px;
 }
