body{ background:  #EEEEEF;
      font-family: Cabin; 
    }

main{padding-top: 104px;
    padding-left: 3%;
    padding-right: 3%;
    
}
.wraper{display: flex;
    gap: 32px;
    column-gap: 1%;
    justify-content: space-around;
}


h1{color: #1F1F1F;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 125% */
    margin: 32px 0;
    border-bottom: solid 1px #A8A8A8;
    padding-bottom: 23px;
    }

h2{
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px; 
}

span{color: #1F1F1F;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
     }

input::placeholder{
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    }

.left-colum{
    display: flex;
    flex-direction: column;
    gap: 32px;
    }

label{
    display: flex;
    flex-direction: column;
    }

input, textarea{
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    background: #F5F5F5;
    margin-top: 8px;
     }

input:active{
    border: 1.5px solid #2080F6;
    box-shadow: 0px 0px 0px 3px rgba(36, 100, 241, 0.15);
    outline: none;
    }

.date{
    flex-direction: row;
    justify-content: space-between;
    gap: 19px;
    }

 textarea{resize: none;}

.radio-container, .checkbox-container{
    display: inline;
    }


.payment, .call, .contact-detalis{
    display: flex;
    flex-direction: column;
    gap: 16px;
} 

article{
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-radius: 4px;
    background: #F5F5F5;
    padding: 40px;
    height: fit-content;
}

.order{
    display: flex;
    gap: 24px;
}

.title-order{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    }

.portio{overflow: hidden;
    color:#8E8E8E;
    text-overflow: ellipsis;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border-top: solid 1px #8E8E8E;
     }

.number{
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    padding: 4px 8px;
    width: fit-content;
}

.price{
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    }

.total{
    display: flex;
    justify-content: space-between;
    border-top: solid 1px  #8E8E8E;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;  
    }

.btn-container{display: flex;
    gap: 16px;
}

.btn-submit{
    color: #F5F5F5;
    width: 215px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #3D76BA;
    margin-top: 16px;
    transition: 0.4s;
    
}
    .btn-submit:hover{background: #63A1EB;}

.btn-reset{
        width: 215px;
        padding: 8px 24px;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        background: #DEDEDE;
        margin-top: 16px;
        transition: 0.4s;
    }
    .btn-reset:hover{background: #eee;}